main
{
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
    min-height: calc(100vh - 60px);
}

.social-icon
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.acc
{
    display: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.acc:hover,
.acc:focus
{
    color: dimgray;
}

.Myacc
{
    display: none;
    position: absolute;
    margin-top: 10px;
    background-color: lightgray;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.Myacc a
{
    color: darkslategray;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown .acc:hover
{
    color: dimgray;
}

.show
{
    display: block;
}

.container
{
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
}



.aboutWebsite-section 
{
    background-color: #ffffff;
    padding: 60px 20px;
}

.aboutWebsite-container 
{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutWebsite-container h2 
{
    font-size: 2.5rem;
    color: #333;
    text-align: center;
}

.aboutWebsite-container p 
{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}

.aboutWebsite-container ul 
{
    padding-left: 20px;
    list-style-type: disc;
}

.aboutWebsite-container ul li 
{
    margin-bottom: 10px;
    color: #000000;
}

.aboutWebsite-container a 
{
    color: #004cff;
    
    text-decoration: none;
}

.aboutWebsite-container a:hover 
{
    text-decoration: underline;
}

.profile-container
{
    display: flex;
    gap: 20px;

}

.profile-section 
{ 
    flex: 1;
    min-width: 0;
    flex-direction: row;
    margin: 10px;
    position: relative;
    height: 100vh; 
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.flip-box 
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.flip-box-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box.flip-active .flip-box-inner,
.flip-box:hover .flip-box-inner 
{
    transform: rotateY(180deg);
}
  
.flip-box-front, 
.flip-box-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-box-front 
{
    z-index: 2;
}

.flip-box-back 
{
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 40px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 1.2rem;
    overflow-y: auto;
    text-align: left;
}

.bg-text-back 
{
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    padding: 10px;
    text-align: left;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    max-width: 500px;
    max-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: 0;
}

.bg-text {
    position: relative;
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 80%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 20px;
    text-align: center;
}

/* Individual background images */
.img-amos {
    background-image: url("Ch'ngSengHong.jpg");
}

.img-xyan {
    background-image: url("TAN MIN XUAN.jpg");
}

.img-jc {
    background-image: url("NamSookJing.jpg");
}

.img-amos-informal {
    background-image: url("chng-informal.jpg");
    z-index: -1;
}

.img-xyan-informal {
    background-image: url("tan-informal.jpg");
    z-index: -1;
}

.img-jc-informal {
    background-image: url("Nam-informal.jpg");
    z-index: -1;
}

.bg-text-back a 
{
    color: aqua;
    font-style: italic;
}

/* Mobile View*/
@media screen and (max-width: 1000px) {
    .profile-container{
        display: grid;
    }
    
    .profile-section{
        position: relative;
        height: 80vh; 
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aboutWebsite-container h2 
    {
        font-size: 2rem;
    }

    .aboutWebsite-container p,
    .aboutWebsite-container ul li 
    {
        font-size: 1rem;
    }
}

