.extra-section {
    font-family: "Quicksand", sans-serif;
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.extra-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

.extra-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.extra-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    flex-direction: row;
}

.extra-img {
    width: 400px;
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
    object-fit:contain;
}

.extra-info {
    padding: 20px;
    text-align: justify;
    flex: 1;
}

.extra-info h3 {
    margin-top: 0;
    color: #2a2a2a;
}

.extra-info p {
    color: #555;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .extra-card {
        flex-direction: column;
    }

    .extra-img {
        align-items: center;
        width: 40%;
        margin: 0 auto;
        object-fit: contain;
    }

    .extra-info {
        text-align: justify;
    }

    .extra-info h3 {
        text-align: center;
    }
}
