*  
{
    box-sizing: border-box;
}

body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header 
{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid gainsboro ;
    background-color: snow;

}

nav 
{
    justify-self: end;
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav a 
{
    display: block;
    color: darkslategray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover 
{
    color: dimgray;
}

nav a.active,
nav a[aria-current="page"]
{
    color: seagreen;
}

i 
{
    margin-right: 0px;
    margin-left: 10px;
    width: 20px;
    text-align: center;
    display: inline-block;
}

.top-nav .bar-icon 
{
    display: none;
}

.bar 
{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3
{
    width: 35px;
    height: 5px;
    background-color: darkslategray;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1
{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2
{
    opacity: 0;
}

.change .bar3 
{
    transform: translate(0, -11px) rotate(45deg);
}

footer
{
    background-color: dimgray;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.footer-container
{
    padding: 20px;
    border-top: 1px solid #eee;
    color: snow;
}

.info-developer
{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.developer
{
    vertical-align: middle;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px 10px;
    
}

.info-language 
{
    font-size: 0.7em;
    margin-top: 10px;
}


@media screen and (max-width: 1000px) 
{
    header 
    {
        grid-template-columns: 1fr auto;
        justify-content: space-between;
    }
    .top-nav 
    {
        justify-self: end;
        display: flex;
        align-items: center;
        overflow: visible;
        position: static;
    }
    .top-nav a
    {
        float: none;
        display: none;
    }
    .top-nav a.active 
    {
        display: block;
    }
    .top-nav a.bar-icon
    {
        display: block;
    }
}

@media screen and (max-width: 1000px)
{
    .top-nav.responsive
    {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: lightgray;
        z-index: 10;
    }
    .top-nav.responsive .bar-icon
    {
        position: absolute;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 20px;
        margin-top: -75px;
        z-index: 1100;
    }
    .top-nav.responsive a 
    {
        display: block;
        text-align: left;
    }
    .top-nav.top-nav.responsive i 
    {
        margin-right: 10px;
    }

}
